.container
  %h1 New Task for #{@post.title}

  = form_with(model: [@post, @task], local: true) do |form|
    .field
      = form.label :name
      = form.text_field :name

    .field
      = form.label :content
      = form.text_area :content

    .field
      = form.label :image
      = form.file_field :image

    .actions
      = form.submit 'Create Task'

  = link_to 'Back', post_path(@post)
