.container
  %ul
    - post.errors.full_messages.each do |message|
      %li= message

  = form_with(model: post, local: true) do |f|
    %div
      = f.label :title, 'タイトル'
      = f.text_field :title, class: 'text'

    %div
      = f.label :content, '内容'
      = f.text_area :content

    %div
      = f.label :deadline, '期限'
      = f.datetime_select :deadline, class: 'text'

    = f.submit '保存', class: 'btn-primary'
