.container
  %h1 コメントサンプル

  - if user_signed_in?
    = link_to "ログアウト", destroy_user_session_path, method: :delete
    = link_to "マイページへ", user_path(current_user.id)
    
    %h2 投稿する
    = form_for @post do |f|
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
      
      .form-group
        = f.label :content
        = f.text_area :content, class: 'form-control'
      
      = f.submit '投稿', class: 'btn btn-primary'
    
    %hr
    
    %h2 投稿一覧
    - @posts.each do |post|
      %a{ href: user_path(post.user.id) }= post.user.email
      %p
        %a{ href: post_path(post.id) }= post.content
  - else
    = link_to "ユーザー登録", new_user_registration_path
    = link_to "ログイン", new_user_session_path